
/* a {

    color: hotpink;
} */

.page-header {

    background-color:white;

}
body {
    background-color: grey;
}

/* .nav-pills, .nav-link.active {
background-color:rgb(90, 158, 153);
} */

img {
 float: left;
    height:250px;
    width: 250px;
}
.white {
  margin-top: 25px;
    background-color: white;
}


